[Unit]
Description=Stop %i VM gracefully
DefaultDependencies=no
Requires=libvirt-guests.service
After=libvirt-guests.service


[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/bin/bash -c "/etc/virt-pre-shutdown-hooks/%i; virt-shutdown-wait %i"

[Install]
WantedBy=multi-user.target
